:root {
	--foreground: #333;
	--foreground-light: #ccc;
	--foreground-medium-light: #888;
	--background: white;
	--main-color: rgb(0, 100, 200);
	--main-light-color: rgb(0, 80, 160);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #ddd;
		--foreground-light: #444;
		--foreground-medium-light: #888;
		--background: black;
		--main-color: rgb(0, 100, 200);
		--main-light-color: rgb(0, 80, 160);
	}
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}



body {
	color: var(--foreground);
	background-color: var(--background);
	box-sizing: border-box;
	font-family: -apple-system, "Helvetica Neue", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}

a {
	color: var(--main-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--main-light-color);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: none;
	background: none;
	color: var(--foreground)
}

input,
select,
button {
	border-bottom: 1px solid var(--foreground);
	color: var(--foreground);
}

input[type=file] {
	border-bottom: none;
}

input:disabled {
	color: var(--foreground-light);
}

input[type="range"] {
	height: 0;
}

button {
	color: var(--foreground);
	outline: none;
}

button:disabled {
	color: var(--foreground-light);
}

input:not(:disabled):active,
select:not(:disabled):active,
button:not(:disabled):active {
	border-color: var(--main-color);
}

button:not(:disabled):active {
	color: var(--main-color);
}

input:focus,
select:focus,
button:focus {
	border-color: var(--main-color);
}

button:focus {
	color: var(--main-color);
}