<script>
  import Progressbar from "./Progressbar.svelte";
  import Tasks from "./Tasks.svelte";
  import Options from "./Options.svelte";

  let progress = 0;

  let views = ["to consider", "options"];
  let currentView = 0;
  let nextView = 1;

  $: nextView = currentView + 1 < views.length ? currentView + 1 : 0;
</script>

<style lang="scss">
  main {
    display: grid;
    grid-template-rows: 0em [progress-bar] min-content [header] min-content [main] min-content [add-tasks] 1fr 1em;
    grid-template-columns: minmax(1em, 1fr) [content] minmax(0, 50em) minmax(
        1em,
        1fr
      );
    grid-auto-flow: column;
    grid-gap: 1em;
    height: 100vh;
  }

  @media (max-width: 50em) {
    main {
      max-width: none;
    }
  }
  :global(.progressbar) {
    grid-area: header / content;
    grid-column: 2;
  }

  h1 {
    padding-top: 1em;
    grid-column: 2;
    grid-area: header / content;
  }

  .next {
    color: var(--foreground-light);
    transition: 100ms;
    margin-left: 1em;
    &:hover {
      color: var(--foreground-medium-light);
    }
  }
</style>

<main>
  <Progressbar {progress} />
  <h1>
    {views[currentView]}
    <span class="next" on:click={() => (currentView = nextView)}>
      {views[nextView]}
    </span>
  </h1>
  {#if views[currentView] == 'to consider'}
    <Tasks bind:progress />
  {:else if views[currentView] == 'options'}
    <Options />
  {/if}
</main>
