<script>
  let done = false;
  let drag = false;

  $: if (done === true) {
    setTimeout(() => {
      done = false;
    }, 1000);
  }

  function handleFileSelect(file) {
    if (file !== null) {
      const fr = new FileReader();
      fr.onload = text => {
        localStorage.setItem("tasks", text.target.result);
        done = true;
      };
      fr.readAsText(file);
    }
  }
</script>

<style lang="scss">
  .options {
    grid-area: main / content;
  }

  .file-select {
    cursor: pointer;
    &:hover {
      color: var(--main-color);
    }
  }
  .file-box {
    border-width: 0 1px;
    border-style: solid;
    border-color: var(--font-color);
    label,
    div {
      text-align: center;
      padding: 1.5em 0;
    }
    input {
      margin: 0;
      display: none;
    }
    &.done {
      border-color: #0f0;
      color: #0f0;
    }
  }
  .is-dragging {
    border-color: var(--main-color);
    .file-drag {
      color: var(--main-color);
    }
  }
</style>

<div class="options">
  <h2>Export Data</h2>
  <p>
    <a
      download="todo.json"
      href={'data:text/plain;charset=utf-8,' + encodeURIComponent(localStorage.getItem('tasks'))}>
      Download as File
    </a>
  </p>
  <h2>Import Data</h2>
  <p
    class="file-box"
    class:is-dragging={drag}
    class:done
    on:dragover|preventDefault={() => {
      drag = true;
    }}
    on:dragenter|preventDefault={() => {
      drag = true;
    }}
    on:dragend|preventDefault={() => (drag = false)}
    on:dragleave|preventDefault={() => (drag = false)}
    on:drop|preventDefault={event => {
      drag = false;
      handleFileSelect(event.dataTransfer.files[0]);
    }}>
    {#if done === true}
      <div>Sucessfully imported.</div>
    {:else}
      <label>
        <strong class="file-select">Choose a file</strong>
        or
        <span class="file-drag">drag</span>
        it here
        <input
          on:change={event => handleFileSelect(event.target.files[0])}
          type="file" />
      </label>
    {/if}
  </p>
</div>
