<script>
  export let progress;
</script>

<style>
  .inner {
    height: 1px;
    background-color: var(--foreground);
    z-index: 2;
    margin-top: -1px;
  }
  .background {
    margin-top: 0.3em;
    height: 1px;
    background-color: var(--foreground-light);
  }
  .percent {
    text-align: center;
  }
</style>

<div class="progressbar">
  <div class="percent">{Math.round(progress * 100 * 100) / 100}%</div>
  <div class="background" />
  <div
    class="inner"
    style="width:{progress * 100}%; background-color: hsl(141, 100%, {window.matchMedia('(prefers-color-scheme: dark)') ? 100 - progress * 50 : 100 - progress}%);" />
</div>
