<script>
  import Task from "./Task.svelte";

  let edit = false;

  export let progress = 0;

  var tasks = localStorage.getItem("tasks")
    ? JSON.parse(localStorage.getItem("tasks"))
    : [];

  let new_task = { title: null, time: null };

  $: {
    const tasksDone = tasks
      .filter(x => x.done == true)
      .map(x => x.time)
      .reduce((x, y) => x + y, 0);
    const allTasks = tasks.map(x => x.time).reduce((x, y) => x + y, 0);
    progress = allTasks != 0 ? tasksDone / allTasks : 0;
    localStorage.setItem("tasks", JSON.stringify(tasks));
  }

  $: tasks.sort((x, y) => {
    return x.done > y.done;
  });

  function add_task() {
    if (new_task.title && new_task.time) {
      tasks = [...tasks, new_task];
      new_task = { title: null, time: null };
      edit = false;
    }
  }

  function update_tasks() {
    tasks = tasks;
  }

  function delete_task(task) {
    tasks.splice(tasks.indexOf(task), 1);
    tasks = tasks;
  }
  function edit_task(task) {
    new_task = task;
    tasks.splice(tasks.indexOf(task), 1);
    tasks = tasks;
    edit = true;
  }
</script>

<style>
  .tasks {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 1em;
    grid-area: main / content;
  }
  ul {
    list-style: none;
    padding: 0;
  }

  .add-task {
    grid-column: 2;
    align-self: end;
    display: grid;
    grid-template-columns: 2fr 1fr min-content;
    grid-gap: 1em;
    grid-area: add-tasks / content;
  }

  @media (max-width: 40em) {
    .add-task {
      grid-template-columns: 1fr;
    }
  }
</style>

<ul class="tasks">
  {#each tasks as task}
    <li>
      <Task
        {task}
        on:update={update_tasks}
        on:delete={delete_task(task)}
        on:edit={edit_task(task)} />
    </li>
  {/each}
</ul>
<div class="add-task">
  <input
    class="title-input"
    type="text"
    bind:value={new_task.title}
    placeholder="Task" />
  <input
    class="time-input"
    type="number"
    bind:value={new_task.time}
    placeholder="Minutes" />
  <button on:click={add_task}>
    {#if edit}Done{:else}Add{/if}
  </button>
</div>
