<script>
  import { createEventDispatcher } from "svelte";

  export let task;

  $: done = task.done;

  let hoverStatus = false;
  let touched = false;
  let blockClick = false;

  const dispatch = createEventDispatcher();

  function toggle_completed(task) {
    task.done = !task.done;
    dispatch("update");
  }
  function delete_task() {
    if (blockClick) return;
    dispatch("delete");
  }
  function edit_task() {
    if (blockClick) return;
    dispatch("edit");
  }
</script>

<style lang="scss">
  .task {
    display: grid;
    grid-template-columns: 1em 1fr min-content 3em;
    grid-gap: 1em;
    &.done {
      color: var(--foreground-light);
    }
  }

  .status {
    text-align: center;
  }

  .status,
  .title {
    cursor: pointer;
  }

  .time {
    transform: translateX(4em);
    transition: transform 200ms;
    white-space: nowrap;
  }

  .time::after {
    content: " min";
  }

  @mixin show-options {
    .time {
      transform: translateX(0);
    }
    .options {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media (hover: hover) {
    .task:hover {
      @include show-options;
    }
  }

  @media (hover: none) {
    .task.touched {
      @include show-options;
    }
  }

  .options {
    display: flex;
    flex-wrap: nowrap;
    justify-self: right;
    cursor: pointer;
    transform: translateX(4em);
    opacity: 0;
    transition: transform 200ms, opacity 200ms ease-out;
    position: relative;
    span {
      width: 1em;
      padding: 0 0.25em;
    }
  }
</style>

<div class="task" class:done class:touched>
  <span
    class="status"
    on:click={toggle_completed(task)}
    on:mouseover={() => {
      hoverStatus = true;
    }}
    on:mouseout={() => {
      hoverStatus = false;
    }}>
    {#if task.done ? !hoverStatus : hoverStatus}✓{:else}·{/if}
  </span>
  <span class="title" on:click={toggle_completed(task)}>{task.title}</span>
  <span
    class="time"
    on:touchstart={() => {
      if (!touched) {
        blockClick = true;
        setTimeout(() => {
          blockClick = false;
        }, 300);
      }
      touched = !touched;
    }}>
    {task.time}
  </span>
  <span class="options">
    <span class="edit" on:click={edit_task} title="Edit">✎</span>
    <span class="delete" on:click={delete_task} title="Delete">☒</span>
  </span>
</div>
